<table>
	<tr>
		<td>Topic</td>
		<td>Trainer</td>
		<td>Date</td>
		<td>Location</td>
	</tr>
	<% @training.each do |training| %>
	<tr>
		<td><%= training.title %></td>
		<td><%= training.trainer%></td>
		<td><%= training.training_date %></td>
		<td><%= training.location %></td>
		<td><%= link_to 'Edit',edit_training_path(training) %></td>
		<td><%= link_to 'Delete',training_path(training), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<% end %>
</table>
<h4><%= link_to 'Add New Training',new_training_path %></h4>