<div class="row-fluid">
  <div class="modal-content col-md-8 col-md-offset-2">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Update location</h4>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-md-4">
                <%= label_tag 'Current location'%>
                <%= form_tag user_location_update_location_path, method:'post' do %>
                  <%= text_field_tag :place_name,@location.place_name, class:'form-control', id:'user_location' %>
                  <%= hidden_field_tag :place_id,@location.place_id %>
                  <%= hidden_field_tag :lat,@location.latitude %>
                  <%= hidden_field_tag :lng,@location.longitude %>
                  <%= submit_tag 'Update location',class:'btn btn-primary form-control input-padding' %>
                <%end%>
              </div>
              <div class="col-md-8">
                <div id="location-map"></div>
              </div>
            </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
  </div>
</div>