<div class="row">
	<div class="col-md-4">
			<%= label_tag 'Current location'%>
			<%= form_tag user_location_update_location_path, method:'post' do %>
				<%= text_field_tag :place_name,@location.place_name, class:'form-control', id:'user_location' %>
				<%= hidden_field_tag :place_id,@location.place_id %>
				<%= hidden_field_tag :lat,@location.latitude %>
				<%= hidden_field_tag :lng,@location.longitude %>
				<%= submit_tag 'Update location',class:'btn btn-primary form-control input-padding' %>
			<%end%>
	</div>
	<div class="col-md-8" id="location-map">

	</div>
</div>
<script>
	$("#user_location").geocomplete({
		map: '#location-map',
		details: 'form' 
	});
</script>