<div class="row">
	<div class="col-md-12"><h2>Users Location</h2></div>
	<div class="col-md-12">
		<div>
  			<div id="map" class="users_location_map"></div>
		</div>
	</div>
</div>
<script>
	var contentString;
	var styles = [{
        url: '../images/people35.png',
        height: 35,
        width: 35,
        anchor: [16, 0],
        textColor: '#ff00ff',
        textSize: 10
      }, {
        url: '../images/people45.png',
        height: 45,
        width: 45,
        anchor: [24, 0],
        textColor: '#ff0000',
        textSize: 11
      }, {
        url: '../images/people55.png',
        height: 55,
        width: 55,
        anchor: [32, 0],
        textColor: '#ffffff',
        textSize: 12
      }];

	var center = new google.maps.LatLng(26.58,12.79);
	var options = {
	  'zoom': 2,
	  'maxZoom':16,
	  'minZoom':2,
	  'center': center,
	  'mapTypeId': google.maps.MapTypeId.ROADMAP
	};
	var imageUrl = '//chart.apis.google.com/chart?cht=mm&chs=24x32&' +
          'chco=FFFFFF,008CFF,000000&ext=.png';
	var markerImage = new google.maps.MarkerImage(imageUrl,new google.maps.Size(30,48));
	var map = new google.maps.Map(document.getElementById("map"), options);
	var markers = [];
	var infoWindow=new google.maps.InfoWindow({
        content: ""
    });
	var i=0;
	<% @users.each do |user| %>
		var latLng = new google.maps.LatLng(<%=user.location.latitude%>,<%=user.location.longitude%>);
		var name="<%=user.first_name%>"+' '+"<%=user.last_name%>";
		var link='<%= link_to "Details", show_user_path(user), {:remote => true, 'data-toggle': 'modal', 'data-target': '#modal-window'}%>'
		var user_image='<%= image_tag user.user_pic.url(:thumb),class:'img-responsive img-thumbnail' %>'
		var htmlInfo='<div><p>'+name+'</p><p>'+user_image+'</p><p>'+link+'</p></div>'
		var marker = new google.maps.Marker({
			position: latLng,
			icon: markerImage,
			title:name
		});
		var contentString=name;
		bindInfoWindow(marker, map, infoWindow, htmlInfo);
		markers.push(marker);
	<% end %>
    var markerCluster = new MarkerClusterer(map, markers, {
    	imagePath: '/images/m',
    	styles: styles

	});
	
    function bindInfoWindow(marker, map, infowindow, description) {
	    marker.addListener('click', function() {
	        infowindow.setContent(description);
	        infowindow.open(map, this);
	    });
    }
</script>