<table>
	<tr>
		<td>Project name</td>
		<td>Client</td>
		<td>Description</td>
	</tr>
	<% @project.each do |project| %>
	<tr>
		<td><%= project.project_name %></td>
		<td><%= project.client %></td>
		<td><%= project.description %></td>
		<td><%= link_to 'Show', project_path(project) %></td>
		<td><%= link_to 'Edit',edit_project_path(project) %></td>
		<td><%= link_to 'Delete',project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<% end %>
</table>
<h4><%= link_to 'Add Projects',new_project_path %></h4>