<h3>Recent Birthdays</h3>
<%@user_birthday_today.each do |user| %>
		<p>Today is <%= user.first_name %> <%= user.last_name %>'s Birthday</p>

<% end %>
<%@user_birthday_tomorrow.each do |user| %>
		<p>Tomorrow is <%= user.first_name %> <%= user.last_name %>'s Birthday</p>

<% end %>
<%@user_birthday_recent.each do |user| %>
		<% @bday = user.dob %>
		<p><%= @bday.strftime("%B %d") %> is <%= user.first_name %> <%= user.last_name %>'s Birthday</p>
		
<% end %>