
<div class="row">
  <div class="col-md-12"><h3>Status Report</h3></div>
  <div class="col-md-12"> 
    <% if @daily_status.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@daily_status.errors.count, "error") %> prohibited
            this from being saved:
          </h2>
          <ul>
            <% @daily_status.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
  </div>
</div>
<div class="row">
    <%= form_for @daily_status do |f| %>
      <div class="col-md-4">
        <p>
          <%= f.label :Date%><br>
          <%= f.date_field :status_date, autofocus: true, :required => true%>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <%= f.label :Project %><br>
          <%= f.collection_select :project_id, Project.all, :id, :project_name, {}, {class: "form-control input-sm"}%><br/>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <%= f.label :Duration %><br>
          <%= f.number_field :duration, in: 1.0..20.0, step: 0.5, :value =>'8',autofocus: true  %>
        </p>
      </div>
      <div class="col-md-6">
        <p>
          <%= f.label :Activities %><br>
          <%= f.text_area :work_done, autofocus: true,  size: "60x5", :required => true%>
        </p>
        <p>
          <%= f.submit :submit,class: 'btn-primary btn-sm' %>
        </p>
      </div>
    <% end %>
    <script>
        $( function() {
          $( "#daily_status_status_date" ).datepicker({
                  changeMonth:true,
                  changeYear:true,
                  dateFormat:"yy-mm-dd",
                  maxDate: 0,
                  minDate: ('-7D')
          });
        } );
      </script>
</div>
  