<td><%= link_to 'Add', new_daily_status_path %></td>
<table>
	<tr>
		<td>Date</td>
		<td>Project</td>
		<td>Duration</td>
		<td>Activity</td>
	</tr>
	<% @daily_status.each do |status| %>
	<tr>
		<td><%= status.status_date %></td>
		<td><%= status.project.project_name%></td>
		<td><%= status.duration %></td>
		<td><%= status.work_done %></td>
		<td><%= link_to 'Show', daily_status_path(status) %></td>
		<td><%= link_to 'Edit',edit_daily_status_path(status) %></td>
	</tr>
	<% end %>
</table>