
<p>Date: <%= @daily_status.status_date %></p>

<p>Project name:<%= @project.project_name %></p>

<p>Duration: <%= @daily_status.duration %></p>

<p>Activity description:<%= @daily_status.work_done %></p>


<%= link_to 'OK',daily_statuses_path%>