<!DOCTYPE html>
<html>
  <head>
    <title>Time Tracking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'jquery-ui', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery-ui', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <header>
    <%= image_tag "logo.png" %>
    <% if user_signed_in? %>
    <div class="sign_out">
        <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
        <p>Login as <%= current_user.username %></p>
    </div>
    <% end %>
  </header>
    <%= yield %>
  <footer>
  </footer>  
  </body>
</html>
